/**/
/* .container{
  background-image: url("img/telainicial.png");
} */

img{
  width: 100%;
}

#botao{
  
  /* border:1 px solid transparent; */
  border-radius: 25px;
  height: 75px;
  background-color: white;
  color: rgb(230, 30, 99);
  font-size: 36px;
  font-family: fantasy;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #000000;
}

#botaoQuest{
  
  /* border:1 px solid transparent; */
  border-radius: 25px;
  height: 75px;
  background-color: white;
  color: rgb(230, 30, 99);
  font-size: 22px;
  font-family: fantasy;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #000000;
}

.resultButton{
  margin-top: 185%;
}

.initbutton{
  margin-top: 180%;
}
.questbutton{
  margin-top: 120%;
}
.questbutton2{
  margin-top: 40%;
}
.questbutton3{
  margin-top: 20%;
}
.questbutton4{
  /* margin-top: 10%; */
}

.pergunta{
  font-size: 36px;
  margin-top: 50px;
}
.perguntaT{
  font-size: 36px;
  margin-top: 40px;
}

@keyframes show {
	from {
    margin-left: 0px;
		opacity: 0;
	}
	to {
    margin-left: 0px;
		opacity: 1;
	}
}

.linha{
  margin-top: 10%;
}

#body{
  margin: 10%;
  width: 80%;
  background-color:rgb(230, 30, 99); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  animation-name: show;
	animation-duration: 0.5s;
}